@media screen and (min-width: 1024px) {

html {
    overflow: hidden;
}

#root {
    position: inherit;
}

.LeftSide {
    width: 60vw;
    height: 100vh;
}

header {
    width: 110%;
}

main {
    margin: 0 0 0 50px;
    height: 80vh;
    justify-content: space-around;
}

.Home {
    flex-direction: row;
}

.nav-list li {
    /* padding: 25px; */
    font-size: 1.5em;
}

.Presentation {
    width: fit-content;
    /* modified */
    margin: 5vh 0 0 5vh;
    padding: 0 15px;
}

h1 {
    display: inline-block;
    width: 40vw;
    text-align: left;
    font-size: 3rem;
}

.Presentation-span {
    margin-left: 40px;
} 

.Slogan {
    display: inline-block;
    margin: 0  0 0 300px;
}

.HomeContent {
    display: flex;
    align-items: center;
    /* margin-top: 7vh; */
}

.Teaser {
    width: 50vw;
    flex-direction: row;
    row-gap: 0px;
}

.Teaser-text {
    font-family: Poppins-medium;
    line-height: 50px;
    padding: 30px;
    font-size: 1.8em;
    width: 30vw;
    text-align: justify;
}

.teaser-btn {
    font-size: 1.8em;
    width: 170px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.RightSide {
    margin: 0;
    width: 40vw;
}

.Main-img {
    display: block;
    height: 100vh;
    width: auto;
    border-radius: 0px;
}

}