:root {
    --red: #EA1009;
    --LightRed: #ff4741b4;
    --white: #FFFFFF;
    --LightWhite: rgba( 255, 255, 255, 0.10 );
}

@font-face {
    font-family: Poppins-regular;
    src: url(../public/Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-medium;
    src: url(../public/Fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../public/Fonts/Poppins/Poppins-Bold.ttf);
}

@keyframes thunderFlash {
    0%{opacity: 0;}
    3.22%{opacity: 1;}
    5%{opacity: 0.5;}
    10%{opacity: 0.8;}
    100%{opacity: 0;}
}

@keyframes thunderFlash2 {
    0%{opacity: 0;}
    3.22%{opacity: 1;}
    5%{opacity: 0.5;}
    10%{opacity: 0.8;}
    100%{opacity: 0;}
}

@keyframes Btn-animation {
    0%{transform: translateX(0px);}
    10%{transform: translateX(5px);}
    20%{transform: translateX(-5px);}
    30%{transform: translateX(5px);}
    40%{transform: translateX(-5px);}
    50%{transform: translateX(5px);}
    60%{transform: translateX(-5px);}
    70%{transform: translateX(5px);}
    80%{transform: translateX(-5px);}
    90%{transform: translateX(5px);}
    100%{transform: translateX(0px);}
}


* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: Poppins-regular;
}

html {
    background-color: black;
}

#root {
    position: relative;
    overflow: hidden;
}

.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.thunder {
    position: absolute;
    z-index: -1;
    filter: contrast(500%);
}

.thunder1 {
    opacity: 0.3;
    left: -250px;
    top: -125px;
    width: 1000px;
    height: 1000px;
    transform: rotate(18deg);
    animation: thunderFlash 3.1s infinite;
}

.thunder2 {
    opacity: 0.3;
    position: absolute;
    left: -335px;
    top: -120px;
    width: 1000px;
    height: 1000px;
    transform: rotate(4deg);
    animation: thunderFlash2 3.1s infinite;
    animation-delay: 2s;
}

.LeftSide {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px;
}

svg #text {
    cursor: default;
    --webkit-user-select: none;
    --moz-user-select: none;
    --ms-user-select: none;
    user-select: none;
}

nav {
    border: 2px solid var(--red);
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    display: flex;
}

.nav-btn {
    margin: 5px 0 0 0;
    background: #00000000;
    font-size: 50px;
    border: none;
    z-index: 5;
}

.nav-list {
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: -10px;
    z-index: 1;
    transition: 1s;
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

.nav-list li {
    padding: 25px;
    font-size: 1.8em;
}

.nav-list li a {
    position: relative;
    text-decoration: none;
}

.nav-list li a::selection {
    background-color: var(--red);
    color: var(--white);
}

.nav-list li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-list li:hover a:before {
    visibility: visible;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Presentation {
    margin: 20px auto 0 auto;
    width: 90vw;
    padding: 5px;
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

h1 {
    font-family: Poppins-bold;
    text-align: center;
}

h1::selection {
    background-color: var(--red);
    color: var(--white);
}

.Presentation-span {
    font-family: Poppins-bold;
    display: inline-block;
    color: var(--red);
    text-shadow: 5px 2px 4px rgba(100,100,100,0.36);
}

.Presentation-span::selection {
    background-color: var(--red);
    color: var(--white);
}

.Slogan {
    text-shadow: 5px 2px 4px rgba(100,100,100,0.36);
    color: var(--red);
    font-family: Poppins-bold;
    margin: 0 105px 0 0 ;
}

.Slogan::selection {
    background-color: var(--red);
    color: var(--white);
}

.Kanjis {
    display: none;
    font-size: 9em;
    margin: 0 40px;
}

.Kanjis p::selection {
    background-color: var(--red);
    color: var(--white);
}

.Kanjis p {
    font-family: SimSun;
    line-height: 175px;
}

.CtaAndTeaser {
    position: relative;
}

.Teaser {
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    transition: 1s;
}

.img-teaser-container {
    width: 105px;
    height: 105px;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 0px 0px 30px var(--red);
}

.img-teaser {
    position: relative;
    top: -10px;
    width: 105px;
}

.img-teaser::selection {
    background-color: var(--red);
    color: var(--white);
}

.Teaser-details {
    position: relative;
}

.Teaser-text {
    width: 60vw;
    padding: 10px;
    font-family: Poppins-medium;
    transition: 1s;
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.Teaser-text p::selection {
    background-color: var(--red);
    color: var(--white);
}

.teaser-btn {
    left: 18px;
}

.Btn-type1 {
    position: absolute;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 14px;
    border: 2px solid var(--red);
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur(10px);
    font-family: Poppins-medium;
    font-size: 1.5em;
    cursor: pointer;
    transition: 1s;
}

.Btn-type1::selection {
    background-color: var(--red);
    color: var(--white);
}

.Btn-type1-hover-animation {
    animation: Btn-animation 2s infinite;
}

.module-border-wrap:hover .Btn-type1{
    background: #00000000;
}

.RightSide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 0 0 0;
    width: 100%;
}

.RightSide-text {
    width: 50vw;
}

.RightSide-text p {
    padding: 5px;
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.Main-img {
    box-shadow: 0 0 20px var(--red);
    width: 170px;
    border-radius: 16px;
}

.Main-img::selection {
    background-color: var(--red);
    color: var(--white);
}

.RightSide-btn {
    left: 30px;
}

@media screen and (max-width: 375px) {
    .Presentation {
        width: 340px;
    }

    #root {
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll !important;
        width: 100vw;
        height: 100vh;
    }
}
