:root {
    --red: #EA1009;
    --white: #FFFFFF;
}

@font-face {
    font-family: Poppins-regular;
    src: url(../public/Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-medium;
    src: url(../public/Fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../public/Fonts/Poppins/Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: Poppins-regular;
}

html {
    background-color: black;
    overflow-x: hidden;
}

#root {
    display: flex;
}

@keyframes thunderFlash {
    0%{opacity: 0;}
    3.22%{opacity: 1;}
    5%{opacity: 0.5;}
    10%{opacity: 0.8;}
    100%{opacity: 0;}
}

@keyframes thunderFlash2 {
    0%{opacity: 0;}
    3.22%{opacity: 1;}
    5%{opacity: 0.5;}
    10%{opacity: 0.8;}
    100%{opacity: 0;}
}

.ThunderBackground {
    position: absolute;
    z-index: -1;
}

.thunder {
    position: absolute;
    filter: contrast(500%);
}

.thunder1 {
    opacity: 0.3;
    left: -200px;
    top: -400px;
    width: 1800px;
    height: 1800px;
    transform: rotate(54.000042deg);
    animation: thunderFlash 3.1s infinite;
}

.thunder2 {
    opacity: 0.3;
    position: absolute;
    left: 965px;
    top: -500px;
    width: 1800px;
    height: 1800px;
    transform: rotate(-12.00001deg);
    animation: thunderFlash2 3.1s infinite;
    animation-delay: 2s;
}

#Home {
    scroll-margin-bottom: 50px;
}

.LeftSide {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 65%;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    height: 25%;
}

nav {
    width: 60%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-list li {
    padding: 25px;
    font-size: 1.5em;
}

.nav-list li a {
    position: relative;
    text-decoration: none;
}

.nav-list li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-list li:hover a:before {
    visibility: visible;
    width: 100%;
}

main {
    height: 75%;
}

h1 {
    font-family: Poppins-bold;
    margin: 50px 0 0 100px;
    font-size: 3.5em;
    line-height: 60px;
}

.Presentation-span {
    font-family: Poppins-bold;
    display: inline-block;
    color: var(--red);
    text-shadow: 5px 2px 4px rgba(100,100,100,0.36);
}

.Slogan {
    text-shadow: 2px 2px 2px #ffffff;
    color: #ea1009;
    font-family: Poppins-regular;
    font-size: 2.5em;
    margin: 20px 0 0 200px;
}

.HomeContent {
    margin-top: 0px;
    display: flex;
    height: 100%;
}

.Kanjis {
    font-size: 9em;
    margin: 50px 40px  0 40px;
}

.Kanjis p {
    font-family: SimSun;
    line-height: 175px;
}

.CtaAndTeaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    width: 75%;
    height: 60%;
}

.Teaser {
    display: flex;
    align-items: center;
    position: relative;
    transition: 1s;
}

.img-teaser-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 8px 10px 4px #ea1009;
    margin-right: 50px;
    transition: 0.5s;
}


.img-teaser {
    position: relative;
    top: -20px;
    left: -10px;
    width: 210px;
}

.Teaser-details {
    position: relative;
    height: 200px;
}

.Teaser-text {
    font-size: 1.8em;
    font-family: Poppins-medium;
    line-height: 50px;
    padding: 30px;
    transition: 1s;
}

.Teaser-text-hover-form {
    padding: 30px;
    margin-left: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
}

.module-border-wrap {
    position: absolute;
    bottom: -25px;
    left: 450px;
    width: 175px;
    height: 70px;
    padding: 1rem;
    position: relative;
    border-radius: 16px;
    background: linear-gradient(to right, var(--red) 0%, var(--white)400%);
    padding: 3px;
}

.Btn-type1 {
    border-radius: 16px;
    border: none;
    width: 175px;
    height: 70px;
    background: #000000;
    font-family: Poppins-medium;
    font-size: 2.5em;
    cursor: pointer;
    transition: 1s;
}

@keyframes Btn-animation {
    0%{transform: translateX(0px);}
    10%{transform: translateX(5px);}
    20%{transform: translateX(-5px);}
    30%{transform: translateX(5px);}
    40%{transform: translateX(-5px);}
    50%{transform: translateX(5px);}
    60%{transform: translateX(-5px);}
    70%{transform: translateX(5px);}
    80%{transform: translateX(-5px);}
    90%{transform: translateX(5px);}
    100%{transform: translateX(0px);}
}

.Btn-type1-hover-animation {
    animation: Btn-animation 3s;
}

.module-border-wrap:hover .Btn-type1{
    background: #00000000;
}

.RightSide {
    width: 35%;
    height: 100vh;
}

.Main-img {
    height: 100vh;
}