/* 
    sat rak 9leb right ou left HHHHH
    ou 3gezti tbedelha
*/

.About-me {
    display: flex;
}

.Abm-RightSide {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}

.About-me-main-img {
    height: 100vh;
    box-shadow: 0 0 20px var(--red);
}

.Abm-LeftSide {
    margin-right: 30px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-history {
    width: 80%;
    padding: 20px;
    border-radius: 16px;
    height: fit-content;
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur(10px);
}

.my-history p {
    margin-bottom: 5vh;
    font-size: 1.1em;
}

.Abm-last-p {
    margin: 0px !important;
}

#Abm-btn {
    position: inherit;
    margin-top: 60px;
}