@media screen and (max-width: 480px) {
    .About-me {
        flex-direction: column-reverse;
        row-gap: 150px;
    }
    /* .Abm-container {
    } */
    .Abm-RightSide {
        width: 100vw;
    }
    .Abm-LeftSide {
        width: 100vw;
    }
    .my-history {
        width: 90%;
    }
    .About-me-main-img {
        height: 20vh;
    }
}